#background::after{
    min-width:850px;
    content:"";
    background-image:url("../img/mobilis.jpg");
    background-size:cover;
    opacity:0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:fixed;
    z-index: -1; 
}

#diaklabor{
    width:100%;
}

#img_diaklabor{
    width:inherit;
    height:inherit;
}

#geogebra{
    width:100%;
    margin:auto;
}